.controles {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor {
    padding: 0 !important;
    margin: 0 !important;
}
.contenedor>:not(.controles):not(.activo) {
    visibility: hidden;
    height: 100%;
}
.controles {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.izq, .der, .punto{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #1da1f2;
    color: #fff;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    font-family: -apple-system, sans-serif;
    font-size: 0.9rem;
}
.punto:not(.activo) {
    background: transparent;
    color: #333;
    border: 1px solid #1da1f2;
}
.izq:hover, .der:hover, .punto:hover{
    cursor: pointer;
}